## Node Packages
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log
/node_modules

## Environmental Variables
.env
.env.backup
.env.development

## IDE
/.vscode
/.idea

# Build Artifacts
result*
catApi
